<nb-layout>
  <nb-sidebar>
    <app-sidebar></app-sidebar>
  </nb-sidebar>
  <nb-layout-header fixed>
    <h4>Inventory Tracker</h4>
    <button nbButton ghost size="giant">
      <a href="https://github.com/bokyabhau/inventory" target="_blank">
        <nb-icon icon="github-outline"></nb-icon>
      </a>
    </button>
  </nb-layout-header>
  <nb-layout-column style="padding: 10px">
    <app-sandbox></app-sandbox>
  </nb-layout-column>
  <!-- <nb-layout-footer fixed>Footer</nb-layout-footer> -->
</nb-layout>
